.weather{
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.weather_mode{
    background-color: #111;
}

.weather_details{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    color: #000;
    text-align: left;
}

.weather_details_mode{
    color: #fff;
}

.weather_data{
    padding-top: 30px;
    color: #000;
}

.weather_data_mode{
    color: #fff;
}

.weather_paragraph{
    padding-left: 20px;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: green;
}

.input_search{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

/*-----Input textfield styling-----*/

.input_textfield{
    background-color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px;
    color: #000;
}

.input_textfield:hover{
    background-color: #dedede;
    transition: all 0.5s;
}

.input_textfield_mode {
    background-color: #111;
    color: #fff;
    border: none;

}

.input_textfield_mode:hover{
    background-color: #444;
    transition: all 0.5s;
}

/*------Search Button Styling--------*/
.search_btn {
    cursor: pointer;
    background-color: #cecece;
    color: #000;
    outline: none;
    border: none;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.search_btn:hover{
    background-color: #444;
    color: #fff;
    transition: all 500ms;
}

.search_btn_mode{
    cursor: pointer;
    background-color: #333;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;   
}

.search_btn_mode:hover{
    transition: all 500ms;
    background-color: #cecece;
    color: #000;
}

